@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    background-color: #f2f2f2;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

div.wrap {
    margin: 0 auto;
    color: rgba(30, 30, 30, 1);
    min-height: 200vh;
    line-height: 150%;
}

.active {
    background-color: #034959;
}

header {
    font-size: 2rem;
    padding: 90px 50px;
    text-align: center;
    background: linear-gradient(180deg, rgba(3, 72, 115, 1) 35%, rgba(51, 51, 51, 1) 100%);
    color: white;
    line-height: 150%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    margin:0 auto;
    /* font-size: ; */
}

nav .sub-nav a {
    /* float:left; */
    display: block;
    padding: 14px 26px;
    text-decoration: none;
    color: lightblue;
    transition: .5s;
}

nav .sub-nav {
    float: left;
}

nav .sub-nav-alt {
    display: none;
    position: absolute;
    z-index: 1;
}

nav .sub-nav-alt a {
    float: left;
    display: block;
    background-color: #333;
}

nav .sub-nav a:hover,
nav .sub-nav-alt a:hover {
    background-color: #022931;
}

nav .sub-nav:hover .sub-nav-alt {
    display: block;
}

main {
    margin: 5% auto;
    width: 70%;
    text-align: justify;
}

main h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
}

main section {
    margin: 2% auto;
    line-height: 150%;
}

main section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "arrow arrow";
    list-style: none;
    font-weight: bold;
}

main section p.center {
    padding: 10px 0;
    text-align: center;
}

main ul li img {
    grid-area: arrow;
    width: 100px;
}

main ul li svg {
    height: 10px;
}

main ul li svg rect {
    text-align: center;
}

main section ul li {
    text-align: center;
}

main section a {
    color: #bf2c38;
    text-decoration: none;
}


div.img-set1 {
    width: 100%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.2rem;
}

div.img-set2 {
    width: 100%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.2rem;
}


div.img-set1 {
    grid-template-areas:
        "img-img img-img"
        "img-img img-img"
        "img-img img-img";
}

div.img-set2 {
    grid-template-areas:
        "img-img img-img";
}


div.img-set1 img, div.img-set2 img {
    grid-area: "img-img";
    /* margin: 2% 1%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* div.img img:hover {} */

footer {
    margin: 0 auto;
    padding: 2% 0;
    background-color: #022840;
    color: #f2f2f2;
    text-align: center;
}

footer a {
    color: lightblue;
    text-decoration: none;
}

@media (max-with: 1024px) {
    html {
        font-size: 19px;
    }
    /* header {
        font-size: 1.3rem;
    } */
}

@media (max-width: 812px) {
    html {
        font-size: 16px;
    }
    /* body {
        font-size: 0.9rem;
    }
    header {
        font-size: 1.2rem;
    } */
    main section ul {
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr;
        /* grid-template-areas: "arrow arrow"; */
    }

    main ul li img {
        width: 50%;
    }

    main ul li svg {
        width: 75%;
    }

    div.img-set1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "img" "img" "img" "img" "img" "img";
        /* grid-area: "img" "img" "img" "img" "img" "img"; */
    }

    div.img-set2 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "img" "img";
    }

    div.img-set1, div.img-set2 {
        grid-area: "img";
    }
}

@media (max-width: 640px) {
    /* body {
        font-size: 0.8rem;
    }
    header {
        font-size: 1.2rem;
    }
     */
}